<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <button><a href="add1/">Add Passenger</a></button>
        <br><br>
        <button><a href="displaypassenger/">Display Passenger</a></button>
        <br><br>
        <button><a href="add2/">Add Flight Details</a></button>
        <br><br>
        <button><a href="displayflight/">Display Flight Details</a></button>
        <br><br>
        
    </body>
</html>