<!DOCTYPE html>
<html>
    <head>
        <title>Unknown Alert!</title>
        <style>
            .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            text-align: center;
            margin-left: 25em;
            height: 20em;
            width: 30em;
            border-radius: 8px;
            margin-top:8em;
            }


            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

            .container {
            padding: 2px 16px;
            }
            

        </style>
    </head>
    <body>
        <div class="card">
            <div class="container">
                <h2>No face detected </h2>
                <p>Click on "Turn on camera again" to check for the passenger.</p>

            </div>
            <button><a href="/face">Turn on camera again </a></button>
        </div>
    </body>
</html>